@import "tailwindcss";

@theme {
  --color-sail: #BAE5F9;
  --color-jaggery: #C56C39;
  --color-brown: #6F4930;
  --color-leaf: #56903A;
  --color-mallard: #213A1B;
  --font-header: "Averia Serif Libre", serif;
  --font-body: "Averia Sans Libre", sans;
}

body {
  @apply bg-white font-body text-lg;
}

header, footer {
  @apply text-white text-lg bg-brown;
}

header {
  @apply shadow-xl/20;
}

footer {
  @apply pb-12 mt-6 border-t-2 border-black;
}

h1, h2, h3, h4, h5 {
  @apply font-bold text-jaggery font-header;
}

h1 {
  @apply text-4xl mb-4;
}

h2 {
  @apply text-3xl mb-2;
}

h3 {
  @apply text-2xl mb-2;
}

h4 {
  @apply text-xl mb-2;
}

ul {
  @apply ms-4;
}

dt {
  @apply font-bold;
}

dd {
  @apply ps-4;
}

a[href] {
  @apply text-brown underline font-bold;
}

header a[href], footer a[href] {
  @apply text-white no-underline;
}

form input[type=text] {
  @apply px-3 py-2 text-slate-800 bg-white ring-mallard ring placeholder:text-slate-400 rounded-lg;
}

a.button, form button {
  @apply px-3 py-2 text-white bg-leaf rounded-lg no-underline ring ring-mallard;
}

.latin {
  @apply italic
}

table {
  @apply border-separate border-spacing-x-6 bg-jaggery/5;
}

table thead {
  @apply font-header font-bold;
}

td, th {
  @apply text-start p-1;
}

.badge {
  @apply px-2 rounded-full text-sm font-bold;
}

.error, .endangered {
  @apply bg-red-200 text-red-800;
}

.introduced {
  @apply text-red-200 bg-red-800;
}

.threatened {
  @apply bg-orange-200 text-orange-800;
}

.warning, .specialconcern{
  @apply bg-amber-100 text-amber-800;
}

.success, .native {
  @apply bg-leaf/30 text-mallard;
}

.icon {
  @apply inline-block me-2
}

header .icon {
  @apply text-white sm:text-leaf;
}

nav.breadcrumbs {
  @apply flex mx-0 px-0 text-brown/80
}

nav.breadcrumbs ol {
  @apply inline-flex items-center text-sm font-light gap-x-3
}

nav.breadcrumbs ol li {
  @apply inline-block text-nowrap
}

nav.breadcrumbs ol li a {
  @apply no-underline text-brown
}
